@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";


.login {
  padding-top: 106px;
  padding-bottom: 92px;

  .container {
     @include flex-spc-betw;
  }
  &__block {
     width: 422px ;
     margin-right: 185px;
  }

  &__image {
    flex: 1 1 50%;

    img  {
     max-width: 100%;
     object-fit: cover
    }
  }
}
