@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

// slider styles

.slider {
  // max-height: 500px;
  padding-bottom: 60px;

  @include mob-h {
    padding-bottom: 20px;
  }

  @include tab {
    position: relative;
    top: 90px;
  }


  .container {
    position: relative;
  }

  // &__holder {
  //     width: 100%;
  //     position: relative;
  // }

  &__shape {
      background-position: center right;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 5;
      width: 100%;
      height: 100%;

      // @include tab-sm {
      //   background-size: contain;
      // }
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }


  &__box {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 6;
      top: 0;
      left: 0;
      padding-top: 100px;
      padding-left: 80px;
      padding-bottom: 90px;

      @include tab-sm {
        min-height: 610px;
       }
      @include mob-h {
        padding: 50px 30px;
        min-height: 410px;
      }
      @include mob-h {
        justify-content: space-between;
      }
       @include mob {
        min-height: 280px;
        padding: 30px 15px;
      }

  }
  &__titles {
    margin-bottom: 40px;
    @include mob {
      margin-bottom: 20px;
      text-align: center;
    }

  }

  &__content {
    @include mob {
      text-align: center;
    }
  }
  &__title {
      font-size: 12px;
      color: $primary-light-color;
      text-transform: capitalize;
      font-weight: 600;
      @include mob-h {
        padding-bottom: 10px;

      }
  }
  &__info-title {
    font-family: "Lora", sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 65px;
    color: $primary-white-color;
    // margin-bottom: 40px;
    max-width: 600px;

    @include mob-h {
      font-size: 36px;
      line-height: 44px;
      // margin-bottom: 20px;
    }

    @include mob {
      text-align: center;
      font-size: 22px;
      line-height: 26px;
    }
  }
   &__info-text {
     font-size: 24px;
     line-height: 32px;
     margin-bottom: 50px;
     color: $primary-white-color;
     max-width: 456px;

     @include mob-h {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 35px;
    }

    @include mob {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px;
    }
   }

  //  .owl-theme .owl-nav.disabled + .owl-dots {
  //   @include tab-sm {
  //     margin-top: 10px;
  //   }
  // }
  .slider-arrows a.next-btn {
    @include tab-sm {
      right: 8%;
    }
    @include mob {
      right: 10%;
    }
    svg {
      @include mob {
        width: 10px;
        height: 20px;
      }
    }
  }
  .slider-arrows a.prev-btn {
    @include tab-sm {
      left: 8%;
     }
     @include mob {
        left: 10%;
    }
     svg {
      @include mob {
        width: 10px;
        height: 20px;
      }
    }
  }
}


// section services
.services {
    padding: 60px 0;

    @include mob {
      padding-bottom: 0;
   }

    .sub-title {
      margin-bottom: 40px;
      @include mob {
         margin-bottom: 20px;
      }

    }

    &__list {
      @include flex-spc-betw ;
      flex-wrap: wrap;
      gap: 26px;

      @include lap-1 {
        justify-content: center;
     }

    }
    &__item {
      max-width: 290px;
      min-height: 498px;

      &-image {
        height: 290px;
        border-radius: 5px;
        margin-bottom: 15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
       h3 {
          margin-bottom: 10px;
       }

       &-text {
        height: 90px;
        line-height: 18px;
        color: $primary-dark-color;
        margin-bottom: 33px;


        @include mob {
           line-height: 16px;
        }


       }
       &-bottom {
        @include flex-spc-betw ;

        span {
          font-size: 20px;
          font-weight: 600;
          color: $primary-light-color;

          @include mob {
            font-size: 16px;
         }
        }
        button {
          padding: 15px 33px;
        }
       }
    }
}

// section about us

.aboutus {
   padding: 60px 0;


   @include mob {
    padding-bottom: 0;
 }

   .container {
     display: flex;
     align-items: flex-start;
     justify-content: space-between;


     @include lap {
       align-items: center;
     }

     @include tab-m {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

    }
   }

   &__image {
      min-width: 460px;
      min-height: 453px;
      margin-right: 68px;
      margin-top: 20px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @include tab-sm {
         margin-right: 0;
      }
       @include mob-h {
         min-width: 320px;
         height: 350px;
         min-height: unset;
         background-size: contain;
      }
      @include mob-h {
        min-width: 280px;
      }
   }
   &__info {
      text-align: left;


       &-text {
        max-width: 633px;
        line-height: 18px;
        margin-bottom: 40px;

        @include tab-m {
          text-align: center;
          margin: 0 auto;
          margin-bottom: 40px;
        }

        span {
          font-weight: 500;
        }
       }
   }

   &__advantage {

    &-title {
      font-family: 'Lora', sans-serif;
      font-size: 26px;
      color: $primary-light-color;
      font-weight: 400;
      margin-bottom: 20px;

      @include lap {
        text-align: center;
      }

    }
    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-right: 9px;
      gap: 20px;

      @include lap {
        justify-content: center;
      }
    }
    &-item {
      max-width: 316px;
      display: flex;
      align-items: center;

      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(3) {
        margin-bottom: 0;
      }
      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
     &-number {
       @include flex-center ;
       margin-right: 20px;
     }
     &-text {
        line-height: 18px;
        text-align: left;
     }
   }
}

// section articles

.articles {
   padding: 60px 0;
   @include mob {
    padding-bottom: 0;
  }
   .sub-title {
     margin-bottom: 40px;
   }
   &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: stretch;
    gap: 24px 40px;
    margin-bottom: 40px;

  }
   .articles__passlink {
      margin-left: auto;
      width: 195px;
      height: 26px ;
      @include flex-spc-betw ;

      span {
        font-size: 20px;
        font-weight: 500;
        margin-right: 14px;
        color: $primary-light-color;
      }
   }
}

// section reviews

.reviews {
  padding: 60px 0;

  @include mob {
    padding-bottom: 0;
  }
  .sub-title {
    text-align: left;

    @include mob {
      text-align: center;
    }
  }
  &__list {
    position: relative;

    .slider-arrows {
      top: calc(50% - 10px);

      .prev-btn {
        left: -20px;
      }

      .next-btn {
        right: -20px;
      }
    }
  }
  &__item {
     width: 90%;
     height: 267px;
     padding: 30px;
     border-radius: 5px;
     border: 2px solid  $primary-light-color;
      
     @include mob {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
       padding: 15px;
       height: 281px;
    }
     &-account {
       display: flex;
       align-items: center;
       margin-bottom: 15px ;

       &-image {
          margin-right: 18px;

          img {
            max-width: 100%;
            object-fit: cover;
          }
       }
       &-name {
          font-size: 16px;
          color: $primary-light-color;
          font-weight: 600;
       }
     }

     &-text {
       line-height: 22px;
       font-size: 16px;
       color: $primary-dark-color;
     }
  }
}

.contacts {
   padding: 60px 0;

   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mob {
         flex-direction: column;
      }

   }
    .card-title {

      @include tab-sm {
        text-align: center;
      }

    }
   &__info {
     margin-left: 25px;
     padding-bottom: 63px;
      h2 {
        margin-top: 15px;
      }

      a {
        color: $primary-dark-color;
      }

      @include mob {
        padding-bottom: 0;
      }
     &-text {
       max-width: 501px;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       margin-bottom: 20px;

       &:last-child {
        margin-bottom: 0;
       }
       h3 {
        margin-bottom: 10px;
       }
       p {
        line-height: 18px;
        color: $primary-dark-color;
       }

       &-medias {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          margin-right: 20px;

          &:last-child {
            margin-right: 0;
          }
        }
       }
       @include tab-sm {
          align-items: center;
       }
     }
   }

   &__map {
     width: 600px;

     @include mob {
       width: auto;
     }
   }
}
