<section class="article">
    <div class="container">
        <div class="article__sub-title">
            <span>Блог /</span>
            <span>Дизайн-ревью: в чем его преимущества и особенности?</span>
        </div>
        <div class="article__info">
            <div class="article__info-title">
                <h2 class="sub-title">Дизайн-ревью: в чем его преимущества и особенности?</h2>
                <p class="article__info-text">Узнайте, что такое дизайн-ревью и для чего проводить. Не всегда разработчики и дизайнеры понимают ценность дизайн-ревью. Разбираем, как внедрение этого процесса повышает эффективность работы всей команды.</p>
            </div>
            <div class="article__info-img">
                <img src="assets/images/blog-image.png" alt="Blog">
            </div>
        </div>
    </div>
</section>