<section class="policy">
        <div class="container">
            <div id="agreement" class="policy__agreement">
                <h2 class="card-title">Пользовательское соглашение</h2>
                <div class="policy__text">
                    <p>Настоящий документ «Пользовательское соглашение» представляет собой предложение ООО «АфтиШторм» (далее — «Администрация»), заключить договор на изложенных ниже условиях Соглашения.</p>
                    <h3>1. Общие положения Пользовательского соглашения</h3>
                    <p>а) <strong>Платформа</strong>  — программно-аппаратные средства, интегрированные с Сайтом Администрации;</p>
                    <p>б) <strong>Пользователь</strong> — дееспособное физическое лицо, присоединившееся к настоящему Соглашению в собственном интересе либо выступающее от имени и в интересах представляемого им юридического лица.</p>
                    <p>в) <strong>Сайт Администрации/ Сайт</strong> — интернет-сайты, размещенные в домене ________.ru и его поддоменах.
                    </p>
                    <p>г) <strong>Сервис</strong> — комплекс услуг и лицензия, предоставляемые Пользователю с использованием Платформы.</p>
                    <p>д) <strong>Соглашение</strong>  - настоящее соглашение со всеми дополнениями и изменениями.</p>
                    <p>1.2. Использование вами Сервиса любым способом и в любой форме в пределах его объявленных функциональных возможностей, включая:</p>
                        <ul>
                            <li>просмотр размещенных на Сайте материалов;</li>
                            <li>регистрация и/или авторизация на Сайте,</li>
                            <li>размещение или отображение на Сайте любых материалов, включая но не ограничиваясь такими как: тексты, гипертекстовые ссылки, изображения, аудио и видео- файлы, сведения и/или иная информация,</li>
                        </ul>
                    <p>создает договор на условиях настоящего Соглашения в соответствии с положениями ст.437 и 438 Гражданского кодекса Российской Федерации.</p>
                    <p>1.3. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:</p>
                    <p>а) Ознакомились с условиями настоящего Соглашения в полном объеме до начала использования Сервиса.</p>
                    <p>Принимаете все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сервиса. Если вы не согласны с условиями настоящего Соглашения или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сервиса.</p>
                    <p>Соглашение (в том числе любая из его частей) может быть изменено Администрацией без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте Администрации либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения.</p>
                    <h3>2. Условия пользования по Соглашению</h3>
                    <p>2.1. Использование функциональных возможностей Сервиса допускается только после прохождения Пользователем регистрации и авторизации на Сайте в соответствии с установленной Администрацией процедурой.</p>
                    <p>2.2. Технические, организационные и коммерческие условия использования Сервиса, в том числе его функциональных возможностей доводятся до сведения Пользователей путем отдельного размещения на Сайте или путем нотификации Пользователей.</p>
                    <p>2.3. Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения.</p>
                    <h3>3. Лицензия на использование Сайта и допустимое использование Сервиса</h3>
                    <p>В данном разеле описываются разрешенные способы использования Сайта и предоставляемого на его основе Сервиса. Безвозмездность лицензии препятствует применению Закона О защите прав потребителя в случае, когда на стороне пользователя – физическое лицо.</p>
                    <h3>4. Гарантии Пользователя по Соглашению</h3>
                    <p>В разеле указываются гарантии и заверения со стороны пользователя о соблюдении требований законодательства и Пользовательского соглашения при использовании Сайта и Сервиса на его основе. Данные положения необходимы, в частности, для последующего возложения ответственности на пользователя за нарушения законодателства или прав третьих лиц в связи с публикацией на сайте противоправных материалов.</p>
                    <h3>5. Лицензия на использование пользовательского контента</h3>
                    <p>При организации социального сервиса или платформы для размещения пользователями различных материалов в публичном доступе необходимо оформлять лицензионное соглашение с каждым пользователем на использование его материалов в рамках такого Интернет-сервиса. Например разрешение пользователя на использование его фотографиии может понадобиться для ее публикации на страницах других пользователей и т.д.
                    Кроме того, получение лицензии подтверждает факт использования контента с разрешения пользователя, который отвечает за наличие у него полномочий на выдачу такой лицензии</p>
                    <h3>6. Ограничения использования</h3>
                    <p>В Пользовательском соглашении необходимо с достаточной ясностью изложить условия об ограничении ответственности за предоставление и использование Сервиса, в том числе публикуемый с его использованием пользовательский контент.</p>
                    <p>Помимо этого, соблюдение требований федерального закона Об информации в редакции нового антипиратского закона предполагает удаление информационным посредником спорных материалов по первому обращению правообладателя. Поэтому Пользовательское соглашение должно предоставлять владельцу интернет-сервиса такую возможность без предварительного согласования и уведомления пользователя</p>
                    <h3>7. Уведомления и рассылка</h3>
                    <p>Данное положение Соглашения направлено на соблюдение требований о недопущении СПАМа.</p>
                    <h3>8. Условия использования аналога собственноручной подписи</h3>
                    <p>Раздел включает порядок использования логина и пароля или адреса электронной почты в качестве ключа простой электронной подписи. Данное условие необходимо для придания юридической силы всем действиям сторон и упрощения возможного документооборота.</p>
                </div>
            </div>
            <div id="personalInfo" class="policy__personalinfo">
                <h2 class="card-title">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>    
                <div class="policy__text">
                    <p>Я <span>{{userName}}</span> даю свое согласие на обработку вам моих персональных данных, относящихся исключительно к перечисленным ниже категориям персональных данных: фамилия, имя, отчество; пол; дата рождения; тип документа, удостоверяющего личность; данные документа, удостоверяющего личность; гражданство. 
                    </p>
                    <p>Я даю согласие на использование персональных данных исключительно в целях использования этого сайта, а также на хранение данных об этих результатах на электронных носителях.</p>
                    <p>Настоящее согласие предоставляется мной на осуществление действий в отношении моих персональных данных, которые необходимы для достижения указанных выше целей, включая (без ограничения) сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, передачу третьим лицам для осуществления действий по обмену информацией, обезличивание, блокирование персональных данных, а также осуществление любых иных действий, предусмотренных действующим законодательством Российской Федерации.</p>
                    <p>
                        Я проинформирован, что это организация гарантирует обработку моих персональных данных в соответствии с действующим законодательством Российской Федерации как неавтоматизированным, так и автоматизированным способами.
                    </p>
                    <p>
                        Данное согласие действует до достижения целей обработки персональных данных или в течение срока хранения информации
                    </p>
                    <p>
                        Данное согласие может быть отозвано в любой момент по моему  письменному заявлению
                    </p>
                    <p>
                        Я подтверждаю, что, давая такое согласие, я действую по собственной воле и в своих интересах.
                    </p>
                </div>
            </div>
        </div>
</section>
