$cont-w:  1240px;
$cont-p: 50px; 
$cont-p-mob: 30px; 
$primary-dark-color: #071739;
$primary-light-color: #709FDC;
$primary-white-color: #fff;

$breakpoints: (
  "mob": 480px,
  "mob-h": 576px,
  "tab-sm": 768px,
  "tab-m": 992px,
  "tab": 1024px,
  "lap": 1200px,
  "lap-1": 1366px,
  "lap-2": 1600px
);



